.intro-container {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.intro-main {
  display: flex;
  flex-direction: column;
  background-color: #d5f7e6;
  padding: 0px 30px;
  /* border: 1px solid red; */
  justify-content: space-between;
  padding-bottom: 60px;
}

.intro-titulo {
  /* border: 1px solid blue; */
  max-width: fit-content;
  font-size: 3.5rem;
  line-height: 1.1;
  color: #222;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.intro-main p {
  /* border: 1px solid green; */
  max-width: fit-content;
  font-size: 1.5rem;
  color: #555;
  line-height: 1.6;
}

.intro-main-a {
  color: #9f2ee5;
}

.intro-botao-container {
  /* background-color: #f5f5f5; */
  /* border: 1px solid black; */
  height: auto;
  align-self: center;
  /* flex: 0; */
}

.intro-botao {
  /* border: 1px solid red; */
  /* text-align: center; */
  max-width: fit-content;
  display: block;
  font-size: 1.5rem;
  color: #f5f5f5;
  padding: 10px 20px;
  background-color: #9f2ee5;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.intro-imagem {
  position: relative;
  align-self: center;
  justify-self: center;
  object-fit: cover;
}
.intro-legenda {
  position: absolute;
  color: #8f8f8f;
  font-size: 0.6rem;
  text-align: center;
  bottom: 0px;
  right: 40px;
}

/* RESPONSIVO */
@media (max-width: 1035px) {
  .intro-titulo {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
  }
  .intro-main p {
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .intro-botao {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .intro-container {
    margin: 25px auto;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .intro-main {
    padding-bottom: 30px;
  }
  .intro-titulo {
    font-size: 2rem;
  }
  .intro-main p {
    font-size: 1rem;
    line-height: 1.4;
  }
  .intro-botao {
    margin-top: 50px;
    font-size: 1.125rem;
    padding: 5px 15px;
  }
  .intro-legenda {
    font-size: 0.4rem;
  }
}
@media (max-width: 500px) {
  .intro-container {
    grid-template-columns: 1fr;
  }

  .intro-imagem {
    grid-row: 1;
    max-width: 250px;
  }
}
