html {
  margin: 0px auto;
  height: 100vh;
  padding: 0px;
  /* max-width: 1200px; */
  font-family: kanit, Arial, Helvetica, sans-serif;
  color: #1a2e35;
}

h1,
h2,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  /* border: 1px solid rebeccapurple; */
  margin: auto auto;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
